
@import '../../../../assets/css/scss/_colors';

@media  (min-width: 768px){
    .tile.is-ancestor {
        margin: 0px 20px 0px 20px;
    }
}

.captionbox {
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: bold;
}

.tile.is-vertical {
    height: 100vh;
}

.is-article-tile {
    height: auto;
    width: auto;
    text-align: center;
}

.is-last-parent {
    width: auto !important;
}

.widget-grid {
    padding-bottom: 12px;
}

.sep {
    background-color: #53657D; 
    height:2px; 
    margin-top: 0
}

.article-tile {
    padding:0;
}

.widget-frame {
    padding:12px;
}

.widget-tile {
    padding:0;
}