
@import '../../../../assets/css/scss/_colors';

.is-main-tile {
    height: 100vh;
    text-align: center;
}

.grid-sizer,
.grid-item {
    width: 33%; 
    float: left;
}

.grid{

}

.overlay_top{
    position: absolute; 
    top: 17%; 
    left: 5%; 
    color: white;
}

.overlay_bottom{
    position: absolute; 
    bottom: 17%; 
    left: 5%; 
    color: white;
}

.span-figure{
    height: 100%;
}

canvas {
    height: 15vh;
    display: block; 
    width: 90%; 
    margin-left: 2%;
}

.shadow-box {
    background-color: #3c5770;
    box-shadow: 3px 3px 3px #000000b8;
    color: #c4ddff;
    height: min-content;
    padding-top: 0px;
    padding-bottom: 10px;
}

.subtitle {
    margin-bottom: 0px !important;
    margin-top: 20px;
}

.modal-card {
    width: auto;
}

.modal-card-body {
    width: 90vw;
    height: 90vh;
    max-width: 95vw;
    color: black;
    text-align: left;
}

.column {
    margin-top: auto;
    margin-bottom: auto;
}

.input {
    background-color: white;
    border-color: gray;
}

.field{
    margin-bottom: 0px !important;
}