{% extends "base.html" %}
{% import '_forms.html' as forms %}

{% block content %}
    <div class="tile is-parent is-main-tile">
        <div class="tile box is-child ">
            <div class="">
                <h1 class="title has-text-centered is-1">{{ strings.parameters | capitalize }}</h1>

                <form method="post">
                    <h3 class="title is-3">{{ strings.accessibility | capitalize }}</h3>
                    <div class="field">
                        <label class="label" for="lang">{{ strings.lang | capitalize }}</label>
                        <div class="control">
                            <div class="select">
                                <select id="lang" name="locale">
                                    {% for l in strings.get_in_all_lang("smt_lang_name") %}
                                        <option value="{{ l.locale }}" {% if l.locale == current_lang %}selected{% endif %}>{{ l.value | capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>


                     <div class="is-divider"></div>
                    <h3 class="title is-3">{{ strings.admin_password | capitalize }}</h3>
                    {{ forms.input_password('current_password', strings.current_password | capitalize) }}
                    {{ forms.input_password('new_password', strings.new_password | capitalize) }}
                    {{ forms.input_password('repeat_password', strings.repeat_password | capitalize) }}

                    <div class="is-divider"></div>

                   <h3 class="title is-3">LDAP</h3>
                    {{ forms.input_text('ldap_server', strings.ldap_server | capitalize, value=ldap_server) }}
                    {{ forms.input_text('ldap_user', strings.ldap_user | capitalize, value=ldap_user) }}
                    {{ forms.input_password('ldap_password', strings.ldap_password | capitalize, value=ldap_password) }}
                    {{ forms.input_text('ldap_search', strings.ldap_search | capitalize, value=ldap_search) }}
                    {{ forms.input_text('ldap_admin_group', strings.ldap_admin_group | capitalize, value=ldap_admin_group) }}

                    {% for plugin_configs in plugins_configs %}
                        <div class="is-divider"></div>
                        {{ plugin_configs.html() }}
                    {% endfor %}

                    {{ forms.button(strings.save | capitalize) }}
                    {% if msg %}<p>{{ msg }}</p>{% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}