{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="assets/css/main.css">
{% endblock %}


{% block content %}
<div class="tile is-vertical has-text-centered widget-frame"> 
    <div class="widget-grid">
        {% for widget in widgets %}
            <div class="tile is-parent is-2 is-offset-1 widget widget-tile">
                <article class="tile box is-child">
                <h3 class="title is-3">{{ widget.name | capitalize }}</h3>
                    <div>
                        {{ widget.html() }}
                    </div>
                </article>
            </div>
        {% endfor %}
        </div>
    
    

    <div class="tile is-parent article-tile">
        <div class="tile box is-child is-article-tile">
    
        <!--  titre -->
        <h1 class="title is-3">Help</h1>   
        <hr class="sep">
        {% for article in articles %}
            {% from article import makePreview with context %}
            {{ makePreview() }}
        {% endfor %}
    </div>
</div>
    <script src="assets/js/app.js"></script>
{% endblock %}
