
@import '../../../../assets/css/scss/_colors';

@media  (min-width: 768px){
    .tile.is-ancestor {
        margin: 20px 20px 20px 20px;
    }
    article.is-child {
        width: min-content;
    }
}

.is-main-tile {
    height: 100vh;
    text-align: center;
}
/*
.is-last-parent {
    width: auto !important;
    display: inline-table;
}*/

article.is-child {
    background-color: #3c5770;
    box-shadow: 3px 3px 3px #000000b8;
    color: #c4ddff;
    height: min-content;
    padding-top: 0px;
    padding-bottom: 10px;

    p {
        height: 48px;
    }

    &:hover {
        cursor: pointer;
        color: white;
    }

    &:active {
        box-shadow: 0px 0px 0px;
        background-color: #476784;
    }
}

//Gestion des tableaux
table {

    margin-top: 2%;
    margin-bottom: 2%;

    background-color: transparent !important;
    color: #8393a7 !important;
    font-size: larger;
    
    td {
        text-align: center;
    }
    
    th {
        text-align: center !important;
        color: $smt-lighter !important;
    }
}


.modal{
    color: black;
}

.close-modal {
    color: white;
}


#brick_install_modal {
    z-index: 1000;
    .brick_install_status {
        ul {
            float: left;
        }
        color: #949494;

        .current {
            color: black;
            i {
                color: #949494;
            }
        }

        .passed {
            i {
                color: green;
            }
            color: black;
        }

        .fa-times-circle {
                color: red !important;
            }
    }

    .modal-card-body {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
    }

    .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid $smt-blue; /* Blue */
      border-radius: 50%;
      width: 100px;
      height: 100px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .success {
        width: 100px;
        height: 100px;
        i {
            color: $smt-blue;
        }
    }

    .failure {
        width: 100px;
        height: 100px;
        i {
            color: red;
        }
    }
}
