@import '../../../../assets/css/scss/_colors';

/* center container with CSS */
.grid {
  margin: 0 auto;
}

/* fluid 5 columns */
.grid-item {
  width: 180px;
  height: 210px;
  padding: 10px 10px 10px 10px;
  background-color: $smt-light;
  margin-bottom: 10px;
  text-align: center;
  opacity: 1;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
/* 2 columns */
.grid-item--width2 { width: 40%; }

#search-form {
  margin-bottom: 50px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  img {
    width: 200px;
    height: 200px;
  }
}

.head {
  margin-top: 10px;
  min-height: 10px;
  .user {
    float: left;
  }
  .logout,.about {
    float: right;
    margin-left: 15px;
    a {
      &:hover {
        opacity: 0.4;
        color: #3273dc !important;
      }
    }
  }
}
