{% extends "empty.html" %}
{% import '_modals.html' as modals %}

{% block header %}
<link rel="stylesheet" href="assets/css/main.css">
{% endblock %}

{% block content %}
    <div class="head">
        <div class="user">
            <i class="fas fa-user"></i> {% if current_user.display_name %}{{ current_user.display_name }}{% else %}{{ current_user.name }}{% endif %}
        </div>
        <div class="logout">
            <a href="/internal_plugins/authentication/logout"><i class="fas fa-sign-out-alt btn-icon"></i></a>
        </div>
        <div class="about modal-button" data-target="modal-simtio-info">
            <a data-target="modal-simtio-info"><i class="fas fa-info btn-icon" data-target="modal-simtio-info"></i></a>
        </div>
        {{ modals.simtio_info(strings, simtio_version) }}
    </div>


    <div class="logo">
        <img src="/assets/images/logo.png" alt="Logo Simtio">
    </div>
    <form  action="{{ search_motor.url }}" method="GET" id="search-form">
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-rounded" type="text" placeholder="{{ strings.search | capitalize}}" name="{{ search_motor.param }}">
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </p>
        </div>
    </form>
    <div class="grid">
        {% for item in items %}
            <a href="{{ item.url }}">
                <div class="grid-item">
                    <img src="{{ item.image }}" alt="{{ item.name }}">
                    <h1 class="title is-4">{{ item.name }}</h1>
                </div>
            </a>
        {% endfor %}
    </div>
    <script src="assets/js/app.js"></script>
{% endblock %}
