{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="assets/css/main.css">
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="assets/js/app.js"></script>
{% endblock %}

{% block content %}
<div class="tile is-parent is-main-tile">
    <div class="tile box is-child">

    <!--  titre -->
    <h1 class="title is-3">{{strings.health | capitalize}}</h1><br/>
    <hr style="background-color: #53657D; height:2px; margin-top: 0">
    
     <div id="monitoring" class="tile is-vertical" >

    </div>
</div>
<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Logs</p>
        </header>
        <div class="field" style="background-color: white"> 
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" id='filter-field' placeholder="Recherche"> 
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>  
        <section class="modal-card-body"></section>
        <footer class="modal-card-foot">
            <p class="button" id="close-modal-button" type="button">Close</p>
        </footer>
    </div>
</div>
{% endblock %}

