{% extends "base.html" %}

{% block content %}
    <div class="tile is-parent is-main-tile">
        <div class="tile box is-child">
            <div class="has-text-centered">
                <i class="fas fa-user" style="font-size: 150px"></i>
                <br><br>
                <h1 class="title is-1">{{ strings.profile | capitalize }}</h1>
                <p>
                    <b>{{ strings.id | capitalize }} : </b>{{ current_user.name }}
                </p>
                {% if current_user.first_name %}<p><b>{{ strings.first_name | capitalize }} : </b>{{ current_user.first_name }}</p>{% endif %}
                {% if current_user.last_name %}<p><b>{{ strings.last_name | capitalize }} : </b>{{ current_user.last_name }}</p>{% endif %}
                {% if current_user.display_name %}<p><b>{{ strings.display_name | capitalize }} : </b>{{ current_user.display_name }}</p>{% endif %}
                {% if current_user.email %}<p><b>{{ strings.email | capitalize }} : </b>{{ current_user.email }}</p>{% endif %}
            </div>
        </div>
    </div>
{% endblock %}