{% extends "blank.html" %}
{% import '_forms.html' as forms %}

{% block content %}
    <div class="has-text-centered">
        <img src="/assets/images/logo.png" alt="Simtio logo" class="image container is-256x256">
        <br>
        <form method="post">
            {{ forms.input_text(name="user", placeholder=strings.user, icon="fas fa-user") }}
            {{ forms.input_password(name="password", placeholder=strings.password, icon="fas fa-lock") }}
            {{ forms.button(strings.login) }}
        </form>
        {% if error is not none %}
            <span class="has-text-danger">{{ error }}</span>
        {% endif %}
    </div>

{% endblock %}