{% extends "base.html" %}
{% import '_forms.html' as forms %}

{% block content %}
    <div class="tile is-parent is-main-tile">
        <div class="tile box is-child">
            <!--  titre -->
            <h1 class="title is-3">{{ strings.History }}</h1><br/>
            <hr style="background-color: #53657D; height:2px; margin-top: 0">

            <table class="table is-fullwidth is-hoverable is-bordered">
                <thead>
                    <tr>
                        <th>{{ strings.date }}</th>
                        <th>{{ strings.hour }}</th>
                        <th>{{ strings.user }}</th>
                        <th>{{ strings.action }}</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>{{ strings.date }}</th>
                        <th>{{ strings.hour }}</th>
                        <th>{{ strings.user }}</th>
                        <th>{{ strings.action }}</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.date }}</td>
                            <td>{{ log.hour }}</td>
                            <td>{{ log.user }}</td>
                            <td>{{ log.message }}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
              <a class="pagination-previous"{% if current_page > 1 %} href="{{ current_page - 1 }}"{% endif %}>< {{ strings.prev_page }}</a>
              <a class="pagination-next"{% if current_page < nb_pages %} href="{{ current_page + 1 }}"{% endif %}>{{ strings.next_page }} ></a>
              <ul class="pagination-list">
                  {% for p in range(1, nb_pages + 1) %}
                    <li><a href="{{ p }}" class="pagination-link {% if p == current_page %}is-current{% endif %}">{{ p }}</a></li>
                  {% endfor %}
              </ul>
            </nav>
        </div>
    </div>
{% endblock %}