{% macro input(name, placeholder='', icon=None, value='', type='', disabled=False) -%}
    <div class="field">
        <label class="label">{{ placeholder }}</label>
        <p class="control {% if icon is not none %}has-icons-left{% endif %}">
            <input class="input" type="{{ type }}" name="{{ name }}" {% if value != None %}value="{{ value }}"{% endif %}{%  if disabled %} disabled{% endif %}>
            {% if icon is not none %}
            <span class="icon is-small is-left">
                <i class="{{ icon }}"></i>
            </span>
        {% endif %}
        </p>
    </div>
{%- endmacro %}

{% macro input_text(name, placeholder='', icon=None, value='', disabled=False) -%}
    {{ input(name, placeholder, icon, value, 'text', disabled) }}
{%- endmacro %}

{% macro input_password(name, placeholder='', icon=None, value='', disabled=False) -%}
    {{ input(name, placeholder, icon, value, 'password', disabled) }}
{%- endmacro %}

{% macro input_number(name, placeholder='', icon=None, value='', disabled=False) -%}
    {{ input(name, placeholder, icon, value, 'number', disabled) }}
{%- endmacro %}

{% macro input_select(name, options, selected=None, label=None) -%}
    <div class="field">
        {% if label %}
            <label class="label">{{ label }}</label>
        {% endif %}
        <div class="control">
            <div class="select">
                <select name="{{ name }}">
                    {% for option in options %}
                        <option value="{{ option.value }}"{% if option.value == selected %} selected{% endif %}>{{ option.text }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro input_checkbox(name, text, checked=False) %}
<label class="checkbox">
  <input type="checkbox" name="{{ name }}"{% if checked %} checked{% endif %}>
  {{ text }}
</label>
{% endmacro %}

{% macro button(text) %}
    <button class="button is-primary is-rounded">{{ text }}</button>
{% endmacro %}