{% macro render_item(item, list, current_active_menu_item) %}
    <li>
        {% set menu_childrens = [] %}
        {% for subitem in list %}
            {% if subitem.parent == item %}
                {% do menu_childrens.append(subitem) %}
            {% endif %}
        {% endfor %}
        <a class="{% if item.link == current_active_menu_item %}is-active{% endif %}" id="navbar-item" href="{{ item.link }}" >
            <i class="{{item.icon}}" style="padding-right: 15px"></i>{{ item.text }}{% if menu_childrens | length > 0 %}<span class="drop"><i class="fas fa-angle-down"></i></span>{% endif %}
        </a>
        {% if menu_childrens | length > 0 %}
            <ul class="children">
                {% for subitem in menu_childrens %}
                    {{ render_item(subitem, list, current_active_menu_item) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}