{% macro confirm(strings, id, text, value, action="", method="POST") -%}
<div class="modal" id="modal-{{ id }}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ strings.confirmation | capitalize }}</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      {{ text }}
    </section>
    <footer class="modal-card-foot">
        <form method="{{ method }}" {% if action != "" %}action="{{ action }}"{% endif %} class="margin-right-10px">
            <input type="hidden" name="value" value="{{ value }}">
            <input type="submit" class="button is-success" value="{{ strings.yes | capitalize }}">
        </form>
      <button class="button close-modal">{{ strings.no | capitalize }}</button>
    </footer>
  </div>
</div>
{%- endmacro %}

{% macro simtio_info(strings, version) -%}
<div class="modal" id="modal-simtio-info">
    <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ strings.simtio_info_title | capitalize }}</p>
      <button class="delete close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      {{ strings.simtio_info_content.format(version) }}
    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>
{%- endmacro %}