{% import '_menu.html' as menu %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>SIMTIO</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

    <!-- For old IEs -->
    <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico" />

    <!-- For new browsers multisize ico  -->
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/assets/images/favicon/favicon.ico">

    <!-- Chrome for Android -->
    <link rel="icon" sizes="192x192" href="/assets/images/favicon/favicon-192.png">

    <!-- For iPhone 6+ downscaled for other devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/favicon-180-precomposed.png">

    <!-- For IE10 Metro -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/images/favicon/favicon-144.png">

    {% block header %}{% endblock %}
</head>
<body>
{% if flash.has() %}
    {% set flash_message = flash.read() %}
<div class="flash-notification notification {{ flash_message.type }}">
  <button class="delete"></button>
  {{ flash_message.content }}
</div>
{% endif %}
    <div class="section">
        <div class="navbar-burger burger is-hidden-tablet" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container main-container">
            <div class="columns is-gapless is-fullvw">
                <div class="column is-2">
                    <aside class="menu is-hidden-mobile" id="navMenu">
                        <figure class="image is-128x128">
                            <img src="/assets/images/logo.png">
                        </figure>
                        {# <p>{{ current_user["firstname"] }} {{ current_user["lastname"] }}</p> #}
                        <div class="menu-user-name"><a href="/internal_plugins/authentication/info">{% if current_user.display_name %}{{ current_user.display_name }}{% else %}{{ current_user.name }}{% endif %}</a></div>
                        <div class="buttons has-addons">
                            <a class="button tooltip is-tooltip-right" data-tooltip="{{ strings.smt_user_dashboard }}" href="/internal_plugins/user_dashboard/">
                                <i class="fas fa-chalkboard-teacher btn-icon"></i>
                            </a>
                            <a class="button tooltip is-tooltip-bottom" data-tooltip="{{ strings.smt_params }}" href="/internal_plugins/config/">
                                <i class="fas fa-cog btn-icon"></i>
                            </a>
                            <a class="button tooltip is-tooltip-bottom" data-tooltip="{{ strings.smt_logout }}" href="/internal_plugins/authentication/logout">
                                <i class="fas fa-sign-out-alt btn-icon"></i>
                            </a>
                        </div>
                        <ul class="menu-list has-text-left">

                            {% for item in menu_item %}
                                {% if item.parent is none %}
                                    {{ menu.render_item(item, menu_item, current_active_menu_item) }}
                                {% endif %}
                            {% endfor %}
                        </ul>
                        
                        <span class="content has-text-centered is-footer">
                            <p class="is-fixed-bottom">
                                {{ strings.footer_message.format(simtio_version) }}
                            </p>
                        </span>
                    </aside>
                </div>
                <div class="column is-10">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/app.js"></script>
</body>
</html>