<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>SIMTIO</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    {% block head %}{% endblock %}
</head>

<body>
        <div class="container">
        <div class="columns is-mobile">
                <div class="
                    column
                    is-one-third-desktop
                    is-offset-one-third-desktop
                    is-half-tablet
                    is-offset-one-quarter-tablet
                    is-full-mobile
                    mh-100vh">
                    <div class="tile is-parent valign">
                        <article class="tile box is-child">
                            <div>
                                {% block content %}{% endblock %}
                            </div>
                        </article>
                    </div>
                </div>


                </div>
        </div>
</body>

</html>