{% extends "blank.html" %}

{% block content %}
    <div class="has-text-centered">
        <img src="/assets/images/logo.png" alt="Simtio logo" class="image container is-256x256">
        <br>
        <h1 class="title is-1 "><span class="has-text-grey-light">{{ strings.smt_error }} </span><span class="has-text-danger">{{ code }}</span></h1>
        <p class="has-text-grey-light">
        {% if code == 404 %}
            {{ strings.smt_error_404 }}
        {% elif code == 500 %}
            {{ strings.smt_error_500 }}
        {% endif %}
        </p>
    </div>
{% endblock %}