{% extends "blank.html" %}

{% block content %}
    <ul class="steps is-horizontal">
        <li class="steps-segment{% if step == "lang" %} is-active{% endif %}">
            <span class="steps-marker">
            <span class="icon">
              <i class="fas fa-flag"></i>
            </span>
          </span>
        </li>
        <li class="steps-segment{% if step == "password" %} is-active{% endif %}">
            <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
          </span>
        </li>
        <li class="steps-segment{% if step == "end" %} is-active{% endif %}">
            <span class="steps-marker">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
          </span>
        </li>
    </ul>
    <div class="has-text-centered">
        {% block wizard_content %}
        {% endblock %}
    </div>

{% endblock %}