{% extends "_wizard.html" %}
{% import '_forms.html' as forms %}

{% block wizard_content %}
    <h1 class="title is-1">{{ strings.end }}</h1>
    <a class="button is-primary is-rounded" href="/internal_plugins/dashboard/">{{ strings.finish }}</a>
{% endblock %}