{% extends "_wizard.html" %}

{% block head %}
<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script>
        jQuery(document).ready(function($) {
            continue_strings = {{ continue_strings }}

            $("#next").text(continue_strings[0]['value']);
            $("#lang").change(function () {
                v = $(this).val();
                continue_strings.forEach(function(s) {
                    if (s['locale'] === v) {
                        $("#next").text(s['value'])
                    }
                })
            });
           // Votre code ici avec les appels à la fonction $()
            $('.slider').slick({
                vertical: true,
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1000,
                arrows: false
            });
        });
    </script>
{% endblock %}

    {% block wizard_content %}
        <div class="slider">
        {% for l in strings.get_in_all_lang("welcome") %}

                <h1 class="title is-1">{{ l.value }}</h1>

            {% endfor %}
        </div>
        <div class="slider">

            {% for l in strings.get_in_all_lang("choose_lang") %}

                <p>{{ l.value }}</p>

            {% endfor %}
        </div>
        <br>
        <form method="post">
            <div class="select is-rounded">
              <select id="lang" name="locale">
                  {% for l in strings.get_in_all_lang("smt_lang_name") %}
                <option value="{{ l.locale }}">{{ l.value }}</option>
                  {% endfor %}
              </select>
            </div>
            <br><br>
            <button class="button is-primary is-rounded" id="next"></button>
        </form>
    {% endblock %}