{% extends "_wizard.html" %}
{% import '_forms.html' as forms %}

{% block wizard_content %}
    <h4 class="title is-5">{{ strings.user_password | format('admin') }}</h4>
    <form method="post">
        {{ forms.input_password(name="password", placeholder=strings.password, icon="fas fa-lock") }}
        {{ forms.input_password(name="confirm", placeholder=strings.confirm, icon="fas fa-lock") }}
        {{ forms.button(strings.continue) }}
    </form>
    {% if error is not none %}
        <span class="has-text-danger">{{ error }}</span>
    {% endif %}
{% endblock %}