@import '_colors';

%simtio_theme {
	background-color: $smt-light;
	color: $smt-lighter;
}


html, body{ 
	background-color: $smt-darker;
	font-family: 'Open Sans', serif;
    font-size: 16px;
}

.is-fullvw {
	width: 100vw;
}

.main-container {
	min-width: 100vw;
	max-width: 100vw;
}

aside {
	@extend %simtio_theme;

	min-height: 100vh;
	height: 100%;

	.menu-user-name {
		margin-top: 30px;
		margin-bottom: 5px;
		text-align: center;
		a {
			text-decoration: None;
			color: $smt-lighter;
			&:hover {
				color: white;
			}
		}
	}

	.buttons {
		//display: flex;
    //flex-wrap: wrap;
    //align-items: center;
    //justify-content: center;
    //flex-direction: column;
		display: flex;
	}

	.button {
		&:not(:first-child){
			border-left-width: 1px;
		}
		&:first-child{
			border-right-width: 1px;
		}
		border-width: 1px 0px 1px 0px;
		//min-width: 100%/3;
		border-radius: 0;
		margin-top: 15px;
		justify-content: center;
		//display: flex;
    	//align-self:stretch;
    	//justify-content: space-between;
		flex: 1 1 0;
	}
}

.btn-icon {
	display: block;
}

.menu {
	position: relative;
}

.menu-list {
	margin-top: 15px;
	margin-bottom: 90px;
	.drop {
		float: right;
		min-width: 20px;
		text-align: center;
	}
	.children {
		display: none;
	}
}

.columns {
	margin: 0px;
}

.column {
	padding: 0px;
}

.valign {
	position: relative;
    top: 50%;
	@include transform(translateY(-50%));
}

.table-vcenter {
	display: table-cell;
	vertical-align: middle;
}

@for $i from 1 through 10 {
	.mh-#{$i*10}vh {
		min-height: 10vh*$i
	}
}

@for $i from 1 through 10 {
	.w-#{$i*10}percent {
		width: 10%*$i
	}
}

@for $i from 1 through 100 {
	.margin-top-#{$i}px {
		margin-top: #{$i}px
	}
}

@for $i from 1 through 100 {
	.margin-right-#{$i}px {
		margin-right: #{$i}px
	}
}

figure {
	margin: {
		left: auto;
		right: auto;
		bottom: 15px;
	}
	padding-top: 15px;
}

.is-footer {
	position: absolute;
	bottom: 10px;
	width: inherit;
	font-size: smaller;
    left: 50%;
    @include transform(translateX(-50%))
}

.stick-bottom {
	bottom: 10px;
}

@include mobile{

	aside {
		position: fixed;
		width: 50vw;
		top: 0px;
		z-index: 1000;

		&.is-active{
			display: block !important;
		}

	}
}


.burger {
	color: $smt-lighter;
	z-index: 2000;
	position: fixed;
	left:1px;
	top: 1px;
	&.is-active {
		left: calc(50vw - 3.25rem);
	}
	&:hover {
		background-color: transparent !important;
	}
}

.is-ancestor {
	border-radius: 0px;
}

.flash-notification {
	position: fixed;
	z-index: 1000;
	top: 10px;
	right: 10px;
}

html {
	overflow: auto;
}

.is-main-tile {
    min-height: 100vh;
}

.label {
		color: $smt-txt !important;
}

.modal {
	position: fixed !important;
	input {
		background-color: white;
		color: black;
	}
	.label {
		color: black!important;
	}
}