@charset "utf-8";
@import '_colors';

/******************
* custom bulma var
******************/

//text
$text: $smt-txt;
$title-color: $smt-txt;
$subtitle-color: $smt-txt;

//section
$section-padding: 0rem 0rem;
$dimensions: 16 24 32 48 64 96 128 256 512;
$primary: $smt-blue;

// Forms
$input-focus-border-color: $smt-blue;
$input-background-color: $smt-dark-blue;
$input-border-color: $smt-grey-blue;
$input-hover-border-color: darken($smt-grey-blue, 5%);
$input-color: $smt-txt;
$input-icon-color: $smt-txt;
$input-icon-active-color: $smt-txt;

//menu item list
$menu-item-hover-background-color: $smt-dark;
$menu-item-hover-color: white;
$menu-item-active-background-color: $smt-dark;
$menu-item-active-color: white;

//buttons
$button-background-color: $smt-light;
$button-border-color: $smt-lighter;
$button-hover-color: white;
$button-color: $smt-txt;

//Steps
$steps-active-color: $smt-blue;
$steps-completed-color: $smt-blue;
$steps-default-color: $smt-dark-blue;

//Tabs
$tabs-border-bottom-color: $smt-txt;
$tabs-link-hover-color: white;
$tabs-link-hover-border-bottom-color: white;
$tabs-border-bottom-width: 2px;
$tabs-link-active-color: $smt-blue;
$tabs-link-active-border-bottom-color: $smt-blue;

//Pagination
$pagination-border-color: transparent;
$pagination-hover-border-color: transparent;
$pagination-current-background-color: transparent;
$pagination-current-border-color: transparent;
$pagination-hover-color: white;
$pagination-active-color: $smt-blue;
$pagination-color: $smt-txt;
$pagination-current-color: $smt-blue;

//box
$box-background-color: $smt-light;

//table
$table-cell-border-width: 0;
$table-striped-row-even-background-color: $smt-dark-blue;


/******************
* bulma imports
******************/

@import "../../../node_modules/bulma/sass/utilities/_all";
@import "../../../node_modules/bulma/sass/base/_all";
@import "../../../node_modules/bulma/sass/elements/_all";
@import "../../../node_modules/bulma/sass/components/_all";
@import "../../../node_modules/bulma/sass/layout/_all";
@import "../../../node_modules/bulma/sass/grid/_all";


/**************************
* bulma extensions imports
**************************/
@import "../../../node_modules/bulma-extensions/bulma-tooltip/src/sass/index";
@import "../../../node_modules/bulma-extensions/bulma-divider/src/sass/index";
@import "../../../node_modules/bulma-o-steps/bulma-steps.scss";
