

$smt-darker: #2a333e; 
$smt-dark: #374355;

$smt-light: #3c4d65;
$smt-lighter: #8393a7;

$smt-white-blue: #8493A8;
$smt-blue: #52C7F8;
$smt-grey-blue: #53657D;
$smt-dark-blue: #374355;

$smt-txt: #c4ddff;
