{% macro makeBrickTab(bricks, rows, lines) -%}
<div class="tile is-vertical" id="tiles"> 
    {% for line in range(lines) %}
        <div class="tile">
        {% for row in range(rows) %}
            {% set num = row + line*rows %}
            {% set val = bricks[num] %}
            {% if val %}
                <div class="tile is-parent is-1 is-last-parent" id="filter-element" style="display:inline-table !important">
                    <article class="tile box is-child tooltip image modal-button" data-tooltip="Version: {{val.latest_version}}" 
                            data-target="modal-{{ num }}" aria-haspopup="true" >
                        <figure class="image is-64x64">
                        {% if val.logo == ""  %}
                            <img src="assets/images/not-found.png">
                        {% else %} 
                            <img src="{{val.logo}}">
                        {% endif %}
                        </figure>
                        <br/>
                        <p class="tile-name" id="filter-criteria">{{ val.name | replace('_', " ") | capitalize }}</p>
                    </article>
                </div>
            {% else %}
                <div class="tile is-parent" >
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
</div>
{%- endmacro %}

{% macro makeMyBrickTab(bricks, strings) -%}
<table class="table is-striped is-fullwidth ">  
    <thead>
        <tr>
            <th>{{ strings.name }}</th>
            <th>{{ strings.version }}</th>
            <th>{{ strings.status }}</th>
            <th>{{ strings.uninstall }}</th>
        </tr>
    </thead>
    <tbody>
    {% for brick in bricks %}
      <tr>
        <th>{{ brick.name }}</th>
        {% if brick.current_version == brick.latest_version  %}
            <td><strong style="color: green">{{ brick.current_version }}</strong></td>
            <td class="tooltip is-tooltip-bottom" data-tooltip="{{ strings.update_info }}"><i class="fas fa-cloud-download-alt" ></i></td>
        {% else %}
            <td style="color: red">{{ brick.current_version }}</td>
            <td class="tooltip is-tooltip-bottom" data-tooltip="{{ strings.update_warning }}"><a class="fas fa-cloud-download-alt" href="download/{{ brick.name }}"></a></td>
        {% endif %}
        <td class="tooltip is-tooltip-bottom" data-tooltip="{{ strings.uninstall }}"><a class="fas fa-trash-alt" href="remove/{{ brick.name }}"></a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{%- endmacro %}

<!-- Création des fenêtres modales pour chaque brique -->
{% macro makeBrickModal(bricks, rows, lines, installStr, cancelStr, lang) -%}
{% for brick in bricks %}
    <div class="modal brick-modal" id="modal-{{ loop.index0 }}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ brick.name | replace('_', " ") | capitalize }}</p>
            </header>
            <section class="modal-card-body">
                {% if 'description_' + lang in brick %}{{ brick['description_' + lang] }}{% else %}{{ brick.description }}{% endif %}
            </section>
            <footer class="modal-card-foot">
                <a class="button is-success download_brick_link" href="download/{{ brick.name }}" >{{ installStr }}</a>
                <p class="button close-modal" type="button">{{ cancelStr }}</p>
            </footer>
        </div>
    </div>
{% endfor %}

{%- endmacro %}


{% macro makePacksTab() -%}
<div class="tile is-vertical tile-fit-content">

</div>
{%- endmacro %}