{% extends "base.html" %}
{% import '_tabs.html' as tabs %}
{% import '_forms.html' as forms %}

{% block header %}
<script src="assets/js/app.js"></script>
<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("content-tab");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " is-active";
}
</script>
<link rel="stylesheet" href="assets/css/main.css">
{% endblock %}

{% block content %}

        <div class="modal  {% if need_install %}is-active{% endif %}" id="brick_install_modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">{{ strings.download_brick }} {% if brick_install_name is not none %}{{ brick_install_name }}{% endif %}</p>
            </header>
            <section class="modal-card-body">
              <ul class="brick_install_status">
                  <li{% if brick_install_state in ["downloaded", "installed", "started"] %} class="passed"{% else %} class="current"{% endif %}><i class="far {% if brick_install_state == "failed" %}fa-times-circle{% else %}fa-check-circle{% endif %}"></i> {{ strings.download_brick }}</li>
                  <li{% if brick_install_state == "downloaded" %} class="current"{% endif %}{% if brick_install_state in ["installed", "started"] %} class="passed"{% endif %}><i class="far {% if brick_install_state == "failed" %}fa-times-circle{% else %}fa-check-circle{% endif %}"></i> {{ strings.install_brick }}</li>
                  <li{% if brick_install_state == "installed" %} class="current"{% endif %}{% if brick_install_state == "started" %} class="passed"{% endif %}><i class="far {% if brick_install_state == "failed" %}fa-times-circle{% else %}fa-check-circle{% endif %}"></i> {{ strings.start_brick }}</li>
              </ul>
                {% if brick_install_state not in  ["started", "failed"] %}
                <div class="loader"></div>
                {% elif brick_install_state == "started" %}
                    <div class="success">
                        <i class="far fa-check-circle fa-6x"></i>
                    </div>
                {% elif brick_install_state == "failed" %}
                    <div class="failure">
                        <i class="far fa-times-circle fa-6x"></i>
                    </div>
                {% endif %}
            </section>
            <footer class="modal-card-foot">
                {% if brick_install_state in ["started", "failed"] %}
                    <a href="" class="button">{{ strings.ok }}</a>
                {% endif %}
            </footer>
          </div>
        </div>
        {% if brick_install_state is not none %}
            {% if brick_install_state not in  ["started", "failed"] %}
            <script>
                window.location.replace("download/{{ brick_install_name }}");
            </script>
            {% endif %}
        {% endif %}



    <div class="tile is-parent is-main-tile">
        <div class="tile box is-child ">

        <!--  titre -->
        <h1 class="title is-3">{{strings.deposit | capitalize}}</h1><br/>
        <!--  onglets -->
        <div class="tabs is-centered is-medium">
            <ul>
                <li class="tab is-active" onclick="openTab(event,'bricksTab')">
                    <a><span>{{strings.bricks | capitalize}}</span></a>
                </li>
                {#<li class="tab" onclick="openTab(event,'packsTab')">
                    <a><span>{{strings.packs | capitalize}}</span></a>
                </li>#}
                <li class="tab" onclick="openTab(event,'myBricksTab')">
                    <a><span>{{strings.mybricks | capitalize}}</span></a>
                </li> 
            </ul>
        </div>
        <!--  barre de recherche -->
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" id="filter-field" type="text" placeholder="{{strings.search | capitalize}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>  

        <!--  contenu des onglets -->
        <div class="tile" id="tab-content">

            <!-- Onglet BRICKS -->
            <div id="bricksTab" class="tile content-tab" >
                {{ tabs.makeBrickTab( bricks | selectattr("current_version", "undefined") | list, rows, lines) }} 
            </div>
            {#<div id="packsTab" class="tile is-parent content-tab" style="display:none">
                {{ tabs.makePacksTab() }} 
            </div>#}
            <div id="myBricksTab" class="tile content-tab" style="display:none">
                {{ tabs.makeMyBrickTab( bricks | selectattr("current_version") | list, strings ) }} 
            </div>
        </div>
        <!-- Fenêtres modales des briques -->
        {{ tabs.makeBrickModal( bricks | selectattr("current_version", "undefined"), rows, lines, strings.install | capitalize, strings.cancel | capitalize, current_lang ) }}
    </div>
</div>

    {% if need_wizard %}
        <form method="post">
            <div class="modal is-active" id="modal_setup">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">{{ strings.setup.format(need_wizard_name) }}</p>
                </header>
                <section class="modal-card-body">
                    {% if wizard_question.response_type == "string" %}
                        {{ forms.input_text('response', wizard_question.question, None, wizard_question.default) }}
                    {% elif wizard_question.response_type == "password" %}
                        {{ forms.input_password('response', wizard_question.question, None, wizard_question.default) }}
                    {% elif wizard_question.response_type == "number" %}
                        {{ forms.input_number('response', wizard_question.question, None, wizard_question.default) }}
                    {% elif wizard_question.response_type == "bool" %}
                        {{ forms.input_checkbox('response', wizard_question.question, wizard_question.default) }}
                    {% endif %}
                </section>
                <footer class="modal-card-foot">
                    <input type="hidden" name="plugin_wizard" value="{{ need_wizard_full_name }}">
                  <button class="button is-success">{{ strings.next }}</button>
                </footer>
              </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

