{% extends "template_article.html" %}

<!-- PREVIEW -->
{% block preview %}
[Administration de SIMTIO](1){: .title }

Installation d'une brique
{: .subtitle }
{% endblock %}


<!-- TITRE -->
{% block title %}
<h1 style="color: #c4ddff;">
    Installation d'une brique
</h1>
{% endblock %}

<!-- ARTICLE -->
{% block markdown %}
<h3 style="color: #c4ddff;">
    Trouver une nouvelle brique
</h3>
<p style="background-color: transparent;color: #c4ddff" >
    Une fois connecté à SIMTIO vous pouvez aller dans l'onglet 'Briques'.
</p>
<br/>
<img src="assets/images/marketplace.png" style="box-shadow: 0px 0px 5px 3px;width: 75%;"></img>
<br/>
<br/>
<p style="background-color: transparent;color: #c4ddff;">
    Cette bibliothèque permet de visualer tous les services qu'il est possible d'installer.<br/>
    Pour plus de simplicité la barre de recherche en haut de l'écran permet de trouver une brique avec son nom.<br/>
    L'infobulle indique également le dernier numéro de version disponnible pour une brique.<br/>
    Pour cet exemple nous allons installer le service 'DNS'.<br/>
</p>

<h3 style="color: #c4ddff;">
    Installer une nouvelle brique
</h3>
<p style="background-color: transparent;color: #c4ddff;">
    Un clic sur un service ouvre une popup avec sa description.<br/>
    Si l'on souhaite installer le service il suffit de cliquer sur le boutton 'Installer' de la popup.<br/>
</p>
<img src="assets/images/dns.png" style="box-shadow: 0px 0px 5px 3px"></img>

<h3 style="color: #c4ddff;">
    Mettre à jour une brique
</h3>
<p style="background-color: transparent;color: #c4ddff;">
    Dans cette vue des briques on trouve également un onglet des briques installées.<br/>
    On peut voir ci-dessous la brique DNS installée précédemment.<br/>
</p>

<img src="assets/images/table.png" style="box-shadow: 0px 0px 5px 3px;width: 75%;"></img>
<br/>
<p style="background-color: transparent;color: #c4ddff;">
    Dans ce tableau, le symbole de la colonne 'Status' montre si une briques est installée dans sa dernière version ou pas.<br/>
    Si une brique peut être mis à jour alors l'icône change de couleur et deviens cliquable.<br/>
    Un simple clic sur l'icône met à jour le service.<br/>
</p>

<h3 style="color: #c4ddff;">
    Désinstaller une brique
</h3>
<p style="background-color: transparent;color: #c4ddff;">
    Dans la même vue que pour la mise à jour des briques on trouve une icône en forme de corbeille.<br/>
    Un clic sur cette icône permet de désinstaller une brique.<br/>
</p>
<br/>
<br/>
<br/>

{% endblock %}