{% extends "template_article.html" %}

<!-- PREVIEW -->
{% block preview %}
[Développement de SIMTIO](2){: .title }

Créer sa propre brique
{: .subtitle }
{% endblock %}


<!-- TITRE -->
{% block title %}
<h1 style="color: #c4ddff;">
    Créer sa propre brique
</h1>
{% endblock %}

<!-- ARTICLE -->
{% block markdown %}
<h3 style="color: #c4ddff;">
    Installation
</h3>
<p style="background-color: transparent;color: #c4ddff" >

    <u>Get Simtio-Admin :</u>u><br/>
    git clone https://gitlab.com/simtio/simtio_admin.git<br/><br/>

    <u>Get Python3 and pip3 :</u><br/>
    # Debian-based systems :<br/>
    apt-get install python3 python3-pip<br/>
    <br/>
    # Redhat-based systems :<br/>
    yum install python3 python3-pip<br/><br/>
    <u>Install python requirements :</u><br/>
    pip3 install -r requirements.txt<br/>
    <u>Install and build nodejs requirements :</u><br/>
    npm install && npm audit fix && npm run build<br/>
    <u>Run the main binary :</u><br/>
    python3 main.py<br/>
</p>
<br/>
<h3 style="color: #c4ddff;">
    Développement des briques internes
</h3>
<p style="background-color: transparent;color: #c4ddff" >
<u>scss dependencies</u><br/>
@import '../../../../assets/css/scss/_colors';<br/>
<u>Docker build multiarch :</u><br/>
docker buildx build -t registry.gitlab.com/simtio/simtio_admin/simtio:latest -t registry.gitlab.com/simtio/simtio_admin/simtio:0.x --platform=linux/aarch64,linux/amd64,linux/arm . --push<br/>
<u>Debug log</u><br/>
To show debug log add "log_level": "DEBUG" in your config file.<br/>
</p>

<h3 style="color: #c4ddff;">
    Tests avec Docker
</h3>
<p style="background-color: transparent;color: #c4ddff" >
docker run -v simtio_data:/simtio/data -v /var/run/docker.sock:/var/run/docker.sock -p8080:8080 -e WORKER=<host ip> -e DOCKER=unix:///var/run/docker.sock registry.gitlab.com/simtio/simtio_admin/simtio:1.0.0
</p>
{% endblock %}