<table class="w-100percent" style="height: fit-content">
    <tr>
        <td class="has-text-centered table-vcenter">
            <i class="fas fa-th-large" style="font-size: 70px;"></i>
        </td>
        <td class="has-text-centered table-vcenter">
            <h4 class="title is-4 is-marginless">{{ nb_briques }} </h4>
            <p>{% if nb_briques > 1 %}{{ strings.bricks|capitalize }}{% else %}{{ strings.brick|capitalize }}{% endif %}</p>
        </td>
    </tr>
</table>

