<table class="w-100percent" style="height: fit-content">
    <tr>
        <td class="has-text-centered table-vcenter">
            <i class="fas fa-cloud-download-alt" style="font-size: 70px;"></i>
        </td>
        <td class="has-text-centered table-vcenter">
            <h4 class="title is-4 is-marginless">{{ nb_updates }} </h4>
            <p>{% if nb_updates > 1 %}{{ strings.updates|capitalize }}{% else %}{{ strings.update|capitalize }}{% endif %}</p>
        </td>
    </tr>
</table>

